@model Dolstagis.Contrib.Auth.Models.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/User/Views/User/_Profile.cshtml";
}

<h2>Profile for @Model.DisplayName</h2>

<form method="post">
    <fieldset>
        <legend>Your details</legend>
        <dl>
            <dt>@Html.LabelFor(x => x.UserName)</dt>
            <dd>@Html.TextBoxFor(x => x.UserName, new { @readonly = "readonly" })</dd>
            <dt>@Html.LabelFor(x => x.DisplayName)</dt>
            <dd>@Html.TextBoxFor(x => x.DisplayName)</dd>
            <dt>@Html.LabelFor(x => x.EmailAddress)</dt>
            <dd>@Html.TextBoxFor(x => x.EmailAddress)</dd>
            <dt>&nbsp;</dt>
            <dd>
                <input type="submit" value="Save changes" /></dd>
        </dl>
    </fieldset>
</form>
