@{
    Bundles.Reference("assets/js");
    Bundles.Reference("assets/css/layout-colorbox.less");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* Stylesheets must be rendered before scripts or colorbox will misbehave! *@
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
</head>
<body>
    <div id="all">
        @Html.FlashedMessages()
        @RenderBody()
    </div>
</body>
</html>
