@{
  Bundles.Reference("Scripts");
  Bundles.Reference("Content");
}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderScripts()
    @Bundles.RenderStylesheets()
  </head>
  <body>
    <div id="all">

      <div id="topbanner">
        @if (User.Identity.IsAuthenticated) {
          Html.RenderPartial("LoggedIn");
        }
        else {
          Html.RenderPartial("NotLoggedIn");
        }
      </div>
      @Html.FlashedMessages()
      @RenderBody()
    </div>
  </body>
</html>
