@{
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/head", "head");
    Bundles.Reference("assets/css/layout.less");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* Stylesheets must be rendered before scripts or colorbox will misbehave! *@
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts("head")
</head>
<body>
    <header>
        <section id="branding">
            <h1>
                <a href="@this.Href("~/")">@Dolstagis.Core.ProductInfo.Product</a>
            </h1>
            <div id="topbanner">
                @if (User.Identity.IsAuthenticated && User is Dolstagis.Contrib.Auth.Models.UserSession) {
                    Html.RenderPartial("LoggedIn", User.Identity);
                }
                else {
                    Html.RenderPartial("NotLoggedIn");
                }
            </div>
        </section>
        @Html.FlashedMessages()
    </header>
    <div id="all">
        @RenderBody()
    </div>
    <footer>
        @Dolstagis.Core.ProductInfo.Copyright
    </footer>
    @Bundles.RenderScripts()
</body>
</html>
