@{
  Bundles.Reference("Scripts");
  Bundles.Reference("Content/css/layout.less");
}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderScripts()
    @Bundles.RenderStylesheets()
  </head>
  <body>
    <div id="all">
      <div id="topbanner">
        <h1>
          <a href="@this.Href("~/")">Dolstagis</a>
        </h1>
        @if (User.Identity.IsAuthenticated && User is Dolstagis.Accounts.UserSession) {
          Html.RenderPartial("LoggedIn", User.Identity);
        }
        else {
          Html.RenderPartial("NotLoggedIn");
        }
      </div>
      @Html.FlashedMessages()
      @RenderBody()
    </div>
  </body>
</html>
