@model Dolstagis.Contrib.Auth.Models.UserToken

@{
    ViewBag.Title = "TestToken";
}

<h2>Token details</h2>

<ul>
    <li><strong>Token ID:</strong> @Model.Token</li>
    <li><strong>Expires:</strong> @Model.Expires</li>
    <li><strong>Action:</strong> @Model.Action</li>
</ul>

<h2>User details</h2>

<ul>
    <li><strong>User ID:</strong> @Model.User.UserID</li>
    <li><strong>User name:</strong> @Model.User.UserName</li>
    <li><strong>Email:</strong> @Model.User.EmailAddress</li>
    <li><strong>Display name:</strong> @Model.User.DisplayName</li>
    <li><strong>Is superuser:</strong> @Model.User.IsSuperUser</li>
</ul>
